<div class="posts-content">
    <div class="posts-content__card post-card">
        <div class="post-card__head">
            <div class="post-card__info">
                <h2 class="post-card__title">Brackets</h2>
                <div class="post-card__text">Saving money – is something we would all like.</div>
            </div>
            <div class="post-card__dropdown">
                <%= image_tag 'dots.png',class: 'post-card__dropdown-img' %>
            </div>
        </div>
        <div class="post-card__body">
            <div class="post-card__author">
                <img src="" alt="" class="post-card__author-img">
            </div>
        </div>
    </div>
    <a href="" class="post-card post-card--new">
        <span class="post-card__text--new">+ Add new borad</span>
    </a>
</div>