.main {
  padding-block: 32px 31px;
}

.main__inner {
  padding-inline: 30px 22px;
}

.main__title {
}

.main__content {
}

.dropdown {
  display: none;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  text-wrap: nowrap;
  background-color: #f4f4f4;
}
