.posts {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.post-card {
  display: flex;
  padding: 32px 16px 20px 17px;
  flex-direction: column;
  gap: 30px;
  background: #f4f4f4;
  border-radius: 10px;
}

.post-card__head {
  display: flex;
  gap: 12px;
}

.post-card__info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.post-card__title {
  font-size: 18px;
  font-weight: 400;
}

.post-card__text {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
}

.post-card__dropdown {
  margin-top: 7px;
}

.post-card__dropdown-img {
  width: 24px;
  height: 6px;
}

.post-card__body {
}

.post-card__author {
}

.post-card__author-img {
  width: 30px;
  height: 30px;
}

.post-card--new {
  padding-block: 68px 67px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  text-align: center;
}

.post-card__text--new {
  font-size: 18px;
}
